
Twitch/bin/Debug/Twitch.pdb
.vs/Twitch/v16/.suo
Twitch/bin/Debug/Chippys Twitch Idler.zip
Twitch/bin/Debug/Twitch.exe
Twitch/bin/Debug/Twitch.exe.config
Twitch/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Twitch/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Twitch/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Twitch/obj/Debug/Twitch.csproj.CoreCompileInputs.cache
Twitch/obj/Debug/Twitch.csproj.FileListAbsolute.txt
Twitch/obj/Debug/Twitch.csproj.GenerateResource.cache
Twitch/obj/Debug/Twitch.csprojAssemblyReference.cache
Twitch/obj/Debug/Twitch.exe
Twitch/obj/Debug/Twitch.Form1.resources
Twitch/obj/Debug/Twitch.Form2.resources
Twitch/obj/Debug/Twitch.pdb
Twitch/obj/Debug/Twitch.Properties.Resources.resources
